In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [2]:
docs = [
    "This animal is elephant",
    "That animal is cat",
    "These animals are dogs",
    "Those are animals",
]

In [3]:
tfidf_model = TfidfVectorizer()
tfidf_vector = tfidf_model.fit_transform(docs)

In [4]:
tfidf_matrix = tfidf_vector.toarray()
tfidf_matrix

array([[0.43779123, 0.        , 0.        , 0.        , 0.        ,
        0.55528266, 0.43779123, 0.        , 0.        , 0.55528266,
        0.        ],
       [0.43779123, 0.        , 0.        , 0.55528266, 0.        ,
        0.        , 0.43779123, 0.55528266, 0.        , 0.        ,
        0.        ],
       [0.        , 0.43779123, 0.43779123, 0.        , 0.55528266,
        0.        , 0.        , 0.        , 0.55528266, 0.        ,
        0.        ],
       [0.        , 0.52640543, 0.52640543, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.66767854]])

In [5]:
words = tfidf_model.get_feature_names_out()
words

array(['animal', 'animals', 'are', 'cat', 'dogs', 'elephant', 'is',
       'that', 'these', 'this', 'those'], dtype=object)

In [7]:
tfidf = pd.DataFrame(tfidf_matrix, columns=words)
tfidf

,animal,animals,are,cat,dogs,elephant,is,that,these,this,those
0,0.437791,0.000000,0.000000,0.000000,0.000000,0.555283,0.437791,0.000000,0.000000,0.555283,0.000000
1,0.437791,0.000000,0.000000,0.555283,0.000000,0.000000,0.437791,0.555283,0.000000,0.000000,0.000000
2,0.000000,0.437791,0.437791,0.000000,0.555283,0.000000,0.000000,0.000000,0.555283,0.000000,0.000000
3,0.000000,0.526405,0.526405,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.667679